= bootstrap_form_for(@user, label_errors: true) do |form|
  %h3 Where do you live?

  = form.fields_for :origin do |origin|
    = origin.collection_select :campus, Location::CAMPUSES, :to_s, :titleize, selected: "livingston"
    = origin.collection_select :building, Location::BUILDINGS_LIVINGSTON, :to_s, :titleize
    = origin.number_field :floor, value: :empty
    = origin.collection_select :style, Location::STYLES, :to_s, :to_s

  = form.text_field :note, label: "Additional information about your living situation"

  %h3 Where do you want to live?

  = form.fields_for :destination do |destination|
    = destination.collection_select :campus, Location::CAMPUSES, :to_s, :titleize, selected: "livingston"
    = destination.collection_select :building, Location::BUILDINGS_LIVINGSTON, :to_s, :titleize

  = form.submit

  = javascript_tag "var BUILDINGS_LIVINGSTON = #{Location::BUILDINGS_LIVINGSTON};"
  = javascript_tag "var BUILDINGS_BUSCH = #{Location::BUILDINGS_BUSCH};"
  = javascript_tag "var BUILDINGS_COLLEGE_AVENUE = #{Location::BUILDINGS_COLLEGE_AVENUE};"
  = javascript_tag "var BUILDINGS_COOK_DOUGLASS = #{Location::BUILDINGS_COOK_DOUGLASS};"

  = javascript_include_tag 'location'
