= bootstrap_form_for(@user, label_errors: true) do |form|
  %h3 Your information
  %h6 Email must end in @rutgers.edu or @scarletmail.rutgers.edu
  %h6 Your email will be displayed to other users
  = form.text_field :email, type: 'email', placeholder: "Email", hide_label: true
  = form.password_field :password, placeholder: "Password", hide_label: true

  = form.text_field :first_name, placeholder: "First name", hide_label: true

  = form.text_field :last_name, placeholder: "Last name", hide_label: true

  = form.collection_select :gender, User::GENDERS, :to_s, :humanize

  %br

  %h3 Where do you currently live?

  = form.fields_for :origin do |origin|
    = origin.collection_select :campus, Location::CAMPUSES, :to_s, :titleize
    = origin.collection_select :building, Location::BUILDINGS_LIVINGSTON, :to_s, :titleize
    = origin.number_field :floor
    = origin.collection_select :style, Location::STYLES, :to_s, :to_s
  = form.label "Additional information about your living situation (optional)"
  %h6
    Here you can include information like the learning community you're a part of,
    if you live with an RA, or anything else you want people to know about your room
  = form.text_field :note, hide_label: true

  %br

  %h3 Where do you want to live?

  = form.fields_for :destination do |destination|
    = destination.collection_select :campus, Location::CAMPUSES, :to_s, :titleize
    = destination.collection_select :building, Location::BUILDINGS_LIVINGSTON, :to_s, :titleize
  %h5
    By signing up you agree with Swapsniper's
    = link_to "Terms of Services", tos_path
  = form.submit

  :javascript
    $(document).ready(function(){
        selected_building = $("#user_origin_attributes_campus>option:selected").text().toLowerCase();
        var buildings = "";
        switch(selected_building){
          case "busch":
            buildings = #{Location::BUILDINGS_BUSCH};
            break;
          case "college avenue":
            buildings = #{Location::BUILDINGS_COLLEGE_AVENUE};
            break;
          case "cook/douglass":
            buildings = #{Location::BUILDINGS_COOK_DOUGLASS};
            break;
          case "livingston":
            buildings = #{Location::BUILDINGS_LIVINGSTON};
        }
        var newOptions = "";
        for(i = 0; i < buildings.length; i++){
          newOptions += "<option value='" + buildings[i] + "'>" + buildings[i].toTitleCase() + "</option>";
        }
        $('#user_origin_attributes_building').html(newOptions);
      $('#user_origin_attributes_campus').change(function(){
        selected_building = $("#user_origin_attributes_campus>option:selected").text().toLowerCase();
        var buildings = "";
        switch(selected_building){
          case "busch":
            buildings = #{Location::BUILDINGS_BUSCH};
            break;
          case "college avenue":
            buildings = #{Location::BUILDINGS_COLLEGE_AVENUE};
            break;
          case "cook/douglass":
            buildings = #{Location::BUILDINGS_COOK_DOUGLASS};
            break;
          case "livingston":
            buildings = #{Location::BUILDINGS_LIVINGSTON};
        }
        var newOptions = "";
        for(i = 0; i < buildings.length; i++){
          newOptions += "<option value='" + buildings[i] + "'>" + buildings[i].toTitleCase() + "</option>";
        }
        $('#user_origin_attributes_building').html(newOptions);
      });
      //destination
      selected_building = $("#user_destination_attributes_campus>option:selected").text().toLowerCase();
      var buildings = "";
      switch(selected_building){
        case "busch":
          buildings = #{Location::BUILDINGS_BUSCH};
          break;
        case "college avenue":
          buildings = #{Location::BUILDINGS_COLLEGE_AVENUE};
          break;
        case "cook/douglass":
          buildings = #{Location::BUILDINGS_COOK_DOUGLASS};
          break;
        case "livingston":
          buildings = #{Location::BUILDINGS_LIVINGSTON};
      }
      var newOptions = "";
      for(i = 0; i < buildings.length; i++){
        newOptions += "<option value='" + buildings[i] + "'>" + buildings[i].toTitleCase() + "</option>";
      }
      $('#user_destination_attributes_building').html(newOptions);
      $('#user_destination_attributes_campus').change(function(){
        selected_building = $("#user_destination_attributes_campus>option:selected").text().toLowerCase();
        var buildings = "";
        switch(selected_building){
          case "busch":
            buildings = #{Location::BUILDINGS_BUSCH};
            break;
          case "college avenue":
            buildings = #{Location::BUILDINGS_COLLEGE_AVENUE};
            break;
          case "cook/douglass":
            buildings = #{Location::BUILDINGS_COOK_DOUGLASS};
            break;
          case "livingston":
            buildings = #{Location::BUILDINGS_LIVINGSTON};
        }
        var newOptions = "";
        for(i = 0; i < buildings.length; i++){
          newOptions += "<option value='" + buildings[i] + "'>" + buildings[i].toTitleCase() + "</option>";
        }
        $('#user_destination_attributes_building').html(newOptions);
      });
    });

