= bootstrap_form_for(@user, label_errors: true) do |form|
  %h3 Information
  = form.text_field :email, type: 'email', placeholder: "Email", hide_label: true

  = form.password_field :password, placeholder: "Password", hide_label: true

  = form.text_field :first_name, placeholder: "First name", hide_label: true

  = form.text_field :last_name, placeholder: "Last name", hide_label: true

  = form.collection_select :gender, User::GENDERS, :to_s, :humanize

  %h3 Where do you live?

  = form.fields_for :origin do |origin|
    = origin.text_field :campus
    = origin.text_field :building

  %h3 Where do you want to live?

  = form.fields_for :destination do |destination|
    = destination.text_field :campus
    = destination.text_field :building

  = form.submit
