%li.list-group-item
  %h4
    = match.full_name_last_initial
  %p
    Lives in:
    %strong
      = match.origin_summary
  %p
    Room type:
    %strong
      = match.origin.style
  %p
    Wants to live in:
    %strong
      = match.destination_summary
  -unless match.note.try(:empty?)
    %p
      Additional information:
      = match.note
  %p
    .accordion{id: "accordion#{match.id}"}
      .accordion-group
        .accordion-heading
          .accordion-toggle{"data-toggle" => "collapse", "data-parent"=>"#accordion#{match.id}", href: "#collapse#{match.id}"}
            = link_to "Click here to see their email"
        .accordion-body.collapse{id: "collapse#{match.id}"}
          .accordion-inner
            Contact them at
            = mail_to match.email, match.email
            to see if they want to swap!
