.col-md-6.col-md-offset-3.text-center
  %h2 My Profile
  %ul.list-group
    %li.list-group-item
      %h2.list-group-item-heading
        = @user.full_name
      %h4.list-group-item-text
        = @user.email
    %li.list-group-item
      %h3.list-group-item-heading
        Lives in:
      %h4.list-group-item-text
        = @user.origin_building_campus
    %li.list-group-item
      %h3.list-group-item-heading
        Wants to live in:
      %h4.list-group-item-text
        = @user.destination_building_campus

  %h5
    = link_to edit_user_path(@user) do
      Edit my information!
