- if @user.deactivated?
  .col-md-10.col-md-offset-1.text-center
    %h3.alert.alert-danger
      Your account is deactivated! Please click
      = link_to "here", activate_path(@user)
      to reactivate it
.col-md-6.col-md-offset-3.text-center
  %h2 My Profile
  %ul.list-group
    %li.list-group-item
      %h2.list-group-item-heading
        = @user.full_name
      %h4.list-group-item-text
        = @user.email
    %li.list-group-item
      %h3.list-group-item-heading
        Lives in:
      %h4.list-group-item-text
        = @user.origin_summary
      %h5.list-group-item-text
        = @user.origin.style
    %li.list-group-item
      %h3.list-group-item-heading
        Wants to live in:
      %h4.list-group-item-text
        = @user.destination_summary
    - unless @user.note.try(:empty?)
      %li.list-group-item
        %h4.list-group-item-heading
          Additional information about your living situation:
        %h5.list-group-item-text
        = @user.note


  %h5
    = link_to edit_user_path(@user) do
      Update my location information
  - unless @user.deactivated?
    %h5
      = link_to deactivate_path(@user), data: { confirm: "Are you sure you want to deactivate your account? Users won't be able to match with you until you reactivate." } do
        Deactivate my account
