.col-md-6.col-md-offset-3.text-center
  %h2 My Profile
  %ul.list-group
    %li.list-group-item
      %h2.list-group-item-heading
        = @user.full_name
      %h4.list-group-item-text
        = @user.email
    %li.list-group-item
      %h3.list-group-item-heading
        Lives in:
      %h4.list-group-item-text
        = @user.origin_summary
      %h5.list-group-item-text
        = @user.origin.style
    %li.list-group-item
      %h3.list-group-item-heading
        Wants to live in:
      %h4.list-group-item-text
        = @user.destination_summary
    - if @user.note
      %li.list-group-item
        %h4.list-group-item-heading
          Additional information about your living situation:
        %h5.list-group-item-text
        = @user.note


  %h5
    = link_to edit_user_path(@user) do
      Change my location information
